*,
*::before,
*::after {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

img {
  max-width: 100%;
  display: block;
}
